.container {
    padding-top: 60px;
    min-height: 90vh;
}

/* Section 1 */

.blog-section {
    background-size: cover;
    background-position: center right;
    padding-top: 50px;
    padding-bottom: 25px;
}
