<title>Blog</title>
<div class="blog-section">
    <div class="container">
        <div *ngIf='(user|async)?.uid'>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <app-blog-add></app-blog-add>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div *ngFor="let post of posts; let i = index" class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="post-title">{{post.title}}</h3>
                            <h6 class="post-date">{{post.date}}</h6>
                        </div>
                        <hr>
                        <div class="card-text">
                            <p style="white-space: pre-wrap;">{{post.body}}</p>
                        </div>
                        <div *ngIf='(user|async)?.uid'>
                            <button class="btn btn-warning" (click)="goToDetailPage(keys[i])">Edit</button>
                            <button class="btn btn-danger" (click)="deletePost(key[i])">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>