.card {
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    background-color: rgba(42, 47, 92, 0.6)
}

textarea {
    min-height: 600px;
}

h2 {
    text-align: center;
}

.post-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}